.header__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--gray-300);
    margin: 0 -20px; 
    padding: 0px 20px 10px;
}

.hero__background img {
    width: 100%;
}

.photo__pres img {
    width: 100%;
}

