.activites {
    background-image: url(/src/assets/image-background-activites-m.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--gray-300);
    margin: 0 -20px; 
    padding: 0px 20px 50px;
    
}

.hero__background img {
    width: 100%;
}