{{> "layouts/header.hbs"
    title = "activites"
}}
<div>
    <p class="text__header">Activités</p>
    <h1>Un savoir-faire à votre service pour tous vos besoins
        en réparation et rénovation de toiture.
    </h1>
    <p class="text__header">Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
        <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
    </p>
    <button class="button__contact">
        <p>Contact</p>
    </button>
</div>
</section>
<div class="pres__activites">
    <h2 class="title__activites">Activités</h2>
    <p>
        L'entreprise <b>Toiture BERGER</b> et son expertise de plus de 15 ans,
        vous offre différentes préstations pour rénover ou réparer votre toiture
    </p>
</div>
{{>"components/card.hbs"}}
{{>"layouts/footer.hbs"}}