{{>"layouts/header.hbs"
title = "galerie"
}}
<div>
    <p>Galerie</p>
    <h1>
        Toiture Berger s'appuie sur des 
        équipements de pointe et 
        une équipe de professionnels qualifiés 
    </h1>
    <p>Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
        <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
    </p>
    <a href="contact">
        <button class="button__contact">
            <p>Contact</p>
        </button>
    </a>
    </section>
    <nav>
        <ul>
            <li><a href="charpente.hbs">Charpente</a></li>
            <li><a href="#">Couverture</a></li>
            <li><a href="#">Zinguerie</a></li>
            <li><a href="#">Ossature</a></li>
            <li><a href="#">Bardage</a></li>
            <li><a href="#">Isolation</a></li>
            <li><a href="#">Surélévation</a></li>
            <li><a href="#">Extension</a></li>
            <li><a href="#">Etanchéité</a></li>
        </ul>
    </nav>
    <h2>Photos Charpente</h2>
</div>
{{>"components/charpente.hbs"}}
{{>"layouts/footer.hbs"}}