{{>"layouts/header.hbs"}}
<picture>
    <img src="/src/assets/Image background Galerie.png" alt="Background galerie">
</picture>
<div>
    <p>Galerie</p>
    <h1>
        Toiture Berger s'appuie sur des 
        équipements de pointe et 
        une équipe de professionnels qualifiés 
    </h1>
    <p>Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
        <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
    </p>
    <button class="button__contact">
        <p>Contact</p>
    </button>
</div>
{{>"components/charpente.hbs"}}
{{>"layouts/footer.hbs"}}