{{> "layouts/header2.hbs" }}
    <div>
        <p class="text__header">17 ANS D'EXPERTISE</p>
        <h1>Les experts en réparation et rénovation pour un toit solide et durable</h1>
        <p class="text__header">Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
            <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
        </p>
    </div>
    <div class="button__contact">
        <button>
            <p>Contact</p>
        </button>
    </div>
  </section>

{{>"components/icon.hbs"}}
{{>"components/presentation.hbs"}}
{{>"components/expertise.hbs"}}
{{> "layouts/footer.hbs" }}