{{> "layouts/header.hbs"
title = "index"
}}
    <div>
        <p class="text__header">17 ANS D'EXPERTISE</p>
        <h1>Les experts en réparation et rénovation pour un toit solide et durable</h1>
        <p class="text__header">Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
            <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
        </p>
    </div>
        <a href="contact">
        <button class="button__contact">
            <p>Contact</p>
        </button>
    </a>
  </section>

{{>"components/icon.hbs"}}
{{>"components/presentation.hbs"}}
{{>"components/expertise.hbs"}}
{{> "layouts/footer.hbs" }}