{{>"layouts/header.hbs"
    title = "ossature-bois"
}}
<div>
    <p class="text__header">Ossature bois</p>
    <h1>
        Un savoir-faire que nous mettons
        à votre service pour vos demandes en ossatures 
    </h1>
    <p>Nous intervenons dans les départements du Doubs, de la Haute-Saône et du Territoire de Belfort.
        <br>Pour tout renseignement complémentaire, n'hésitez pas à nous contacter.
    </p>
    <a href="contact">
        <button class="button__contact">
            <p>Contact</p>
        </button>
    </a>
    </section>
<section class="ossature">
</div>
<div >
    <h2 class="title__ossature">Ossature en bois</h2>
    <p>
        L'entreprise <b>ToitureBerger</b> vous propose ses services pour la conception, 
        la fabrication et l'installation d'ossatures en bois. 
        Nos experts s'adaptent à toutes vos demandes pour garantir des <b>solutions sur mesure</b> en matière de construction en bois.
        Depuis que le bois est utilisé pour la <b>construction de maison</b>, de nombreuses techniques ont été développées :
    </p>
    <br>
    <p> 
        Panneau porteur, poteau-poutre, colombage, panneaux de bois massif ou bois massif empilés.
        Nous allons nous consacrer uniquement à la technique de <b>l'ossature bois</b>.
        La maison ossature bois est la technique de construction la plus répandue car elle s'adapte le mieux à la
        plupart
        <b>des styles régionaux</b>.
    </p>
</div>
<div>
    <picture>
        <img src="/src/assets/ossature-bois.png" alt="Ossature en Bois">
    </picture>
    <p>
        <b>Les murs de la maison à ossature bois sont réalisés sur la base d’une structure constitué de montants en bois
        sec
        espacé en lesquels sont placés les matériaux isolants.</b>
    </p>
    <br>
    <p>
        Cette technique de construction permet également une préfabrication de murs complets en atelier, à l’abri des
        intempéries. La structure est livré sur chantier sous forme de modules d’une hauteur d’étage et montée en
        quelque
        semaines. Le cloisonnement intérieur est le plus souvent revêtu de Placoplatre.
    </p>
</div>
<div>
    <h3 class="title__ossature">
        Pourquoi opter pour l’ossature en bois ?
    </h3>
    <p>
        La technique de la maison à ossature bois est très <b>simple</b>. Ils forment une ossature, d’où son nom. <b>La maison à
        ossature bois</b> se distingue par les montants de son ossature qui constituent la hauteur de l’étage.
    </p>
</div>
</section>
{{>"components/icon2.hbs"}}
{{>"components/card2.hbs"}}
{{>"layouts/footer.hbs"}}