<section class="ateliers">
    <div>
        <h3>Zinguerie</h3>
        <ul>
            <li>1 Cisaille guillotine Jouanel de 2ml</li>
            <li>1 plieuse Jouanel de 2ml</li>
            <li>1 boudineuse jouanel de 2ml</li>
            <li>1 bordeuse jouanel</li>
        </ul>
    </div>
    <div>
        <h3>Charpente</h3>
        <ul>
            <li>1 Chariot élévateur Manitou mc30</li>
            <li>1 Chariot latéral Irion dfq40/14/40</li>
            <li>1 Tenonneuse Mafell ZAF 250</li>
            <li> 1 Scie à ruban</li>
            <li>1 Combiné 5 opérations</li>
            <li>Outillage de taille portatif Mafell</li>
            <li> 1 Aspiration d'atelier</li>
            <li>Mig, découpeur plasma =>réalisation de sabot métallique sur mesure</li>
        </ul>
    </div>
</section>