<section class="ossature__card">
    <div>
        <picture>
            <img src="/src/assets/cochon-ossature.png" alt="Economique">
        </picture>
        <h3>Economique</h3>
        <p>
            Le bois est en moyenne 7 fois plus isolant que le béton.
            Une maison en bois bien conçue offre une excellente isolation thermique
            augmente le confort et réduisant les coûts énergétiques.
            L’installation d’un isolant peut être plus coûteuse à l’achat.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/solide.png" alt="Solide">
        </picture>
        <h3>Solide</h3>
        <p>
            La grande résistance mécanique du bois, alliée à sa légèreté, en ont fait un matériau de choix
            On a donc plus à prouver la solidité du bois.
            Le bois dans la construction autorise donc plus d’audace dans l’architecture
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/durable.png" alt="Durable">
        </picture>
        <h3>Durable</h3>
        <p>
            Les anciennes maisons à colombages, même mal entretenues, sont en parfaite conservation.
            Les bois sont traités et mis en œuvre selon des normes strictes, garantissant la durabilité.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/acoustique.png" alt="Acoustique">
        </picture>
        <h3>Acoustique</h3>
        <p>
            Les performances d’isolation acoustique du bois sont reconnues
            il peut absorber ou réfléchir les ondes sonores. Dans la maison à ossature bois, la correction et
            l’isolation acoustique sont facilitées par la technique à ossature.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/environnemental.png" alt="Environnemental">
        </picture>
        <h3>Environnemental</h3>
        <p>
            La maison bois permet de stocker du carbone. Le CO² stocké dans la structure d’une maison à ossature bois
            Construire en bois, maison confortable, économique en énergie et vous aidez à la lutte contre l’effet de
            serre.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/rapide.png" alt="Rapide">
        </picture>
        <h3>Rapide</h3>
        <p>
            La construction en ossature bois ne nécessite pas de temps de séchage, aucune attente donc avant finitions.
            Plus vite construite, la maison ossature bois réduit la période de remboursement de crédit et de paiement
            d’un loyer.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/entretien.png" alt="Entretien">
        </picture>
        <h3>Entretien</h3>
        <p>
            La structure porteuse ne demande aucun entretien
            Vous pouvez profiter de la tranquillitéd'esprit sans avoir à vous soucier desfrais d'entretien 
            supplémentaires. 
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/feu.png" alt="Feu">
        </picture>
        <h3>Feu</h3>
        <p>
            Statistiques : Les maison à ossature bois ne sont pas plus souvent la proie des flammes que les maisons
            traditionnelles.
            Le bois, contrairement à d'autre matériaux, est stable au feu : sa combustion est prévisible et stable.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/evolutif.png" alt="Evolutif">
        </picture>
        <h3>Evolutif</h3>
        <p>
            La maison ossature bois est modulable, une extension ou transformation se fera sans problèmes.
            Rien de plus et de plus rapides que de faire une ouverture supplémentaire par exemple.
        </p>
    </div>
    <div>
        <picture>
            <img src="/src/assets/investissement.png" alt="Bon investissement">
        </picture>
        <h3>Evolutif</h3>
        <p>
            Si dans tout les pays à haut niveau de vie, tels que les Etats-Unis, le Canada et la Scandinavie plus de 90
            % des  maisons sont construites en ossature bois 
            ce n'est pas le hasard, les habitants de ces pays recherchent la qualité de vie avant tout !
        </p>
    </div>
</section>