<section class="inconvenients">
    <h2>Inconvévients</h2>
    <div class="inconvenients__card2">
        <h3 class="title__inconvenients">Préjugés</h3>
        <p>D'ordre psychologique. La maison en ossature bois est assimilé à une cabane en planche par le grand public.
            Ces préjugés disparaîtront avec le temps avec la réalisation de constructions de qualité.
        </p>
    </div>
    <div class="inconvenients__card2">
        <h3 class="title__inconvenients">Inertie thermique</h3>
        <p>Pour une maison à ossature bois, l'absence d'inertie thermique peut présenter quelques avantages (en hiver,
            le moindre rayon de soleil vous apportent des apports caloriques). Mais également inconvénients, en été, en
            laissant les volets ouverts, si la chaleur pénètre dans la maison, elle peut donner l'impression qu'elle
            n'est pas isolée.
        </p>
    </div>
    <div class="inconvenients__card2">
        <h3 class="title__inconvenients">Colle ou traitements thermiques</h3>
        <p>Certains bois de constructions (lamellé collé, contre collé…) relativise ses atouts en matière d'écologie et
            de santé. Les réglementations à ce sujet se sont durcies et les entreprises s'adaptent.
            Construire en bois, maison confortable, économique en énergie et vous aidez à la lutte contre l'effet de
            serre.
        </p>
    </div>
    <div class="inconvenients__card2">
        <h3 class="title__inconvenients">Surcoût</h3>
        <p>Le surcoût peut atteindre 10 % par rapport à la maçonnerie, la maison à ossature bois tend à devenir un
           produit de luxe. Cependant les économies d'énergie qui peuvent être réalisées dans les années qui suivent,
           la différence peut être rentabilisé en 10 ans.
        </p>
    </div>
</section>