<section class="photos">
    <picture>
        <img src="/src/assets/charpente1.png" alt="Charpente 1">
    </picture>
    <picture>
        <img src="/src/assets/charpente2.png" alt="Charpente 2">
    </picture>
    <picture>
        <img src="/src/assets/charpente3.png" alt="Charpente 3">
    </picture>
    <picture>
        <img src="/src/assets/charpente4.png" alt="Charpente 4">
    </picture>
    <picture>
        <img src="/src/assets/charpente5.png" alt="Charpente 5">
    </picture>
    <picture>
        <img src="/src/assets/charpente6.png" alt="Charpente 6">
    </picture>
    <picture>
        <img src="/src/assets/charpente7.png" alt="Charpente 7">
    </picture>
    <picture>
        <img src="/src/assets/charpente8.png" alt="Charpente 8">
    </picture>
</section>