<section class="expertise__accueil">
    <div class="expertise">
        <h2>L'éxpertise<b>ToitureBerger</b></h2>
        <p>
           <b>Toiture BERGER</b> vous propose ses services en charpente, couverture, zinguerie,
            et répond également à la demande croissante en élargissant son expertise à la construction de maisons à
            ossature bois,
            à l'étanchéité, à l'isolation intérieure et au bardage. Nous intervenons dans les départements du Doubs,
            de la Haute-Saône et du Territoire de Belfort.
        </p>
        <p>
            Grâce à notre savoir-faire et notre expérience, nous offrons des solutions sur mesure, adaptées à vos
            besoins,
            en utilisant des matériaux de haute qualité et respectueux de l'environnement.
            Notre équipe de professionnels qualifiés assure des interventions rapides et efficaces,
            garantissant la durabilité et la fiabilité de nos réalisations.
        </p>
        <p>
            Pour tout renseignement complémentaire ou pour discuter de votre projet,
            n'hésitez pas à nous contacter.
            Nous serions ravis de vous accompagner dans la réalisation de vos travaux de toiture et de construction.
        </p>

    </div>
</section>