<section class="icon__accueil">
    <div class="icon__toiture">
        <picture class="picture__toiture">
            <img src="/src/assets/Toiture.svg" alt="Logo Toiture">
        </picture>
        <h3 class="title__toiture">Toiture</h3>
        <p> Un savoir-faire inégalé  en réparation  et rénovation de toitures</p>
    </div>
    <div class="icon__nettoyage">
        <picture class="picture__toiture">
            <img src="/src/assets/Nettoyage.png" alt="Logo Nettoyage">
        </picture>
        <h3 class="title__nettoyage">Nettoyage</h3>
        <p>le savoir- faire pour un nettoyage impeccable  après chaque chantier.</p>
    </div>
    <div class="icon__renovation">
        <picture class="picture__renovation">
            <img src="/src/assets/Renovation.png" alt="Logo Renovation">
        </picture>
        <h3 class="title__renovation">Rénovation</h3>
        <p>le savoir-faire pour des rénovations  de toiture durables et fiables.</p>
    </div>
</section>