<section class="icon__accueil">
    <div class="icon__toiture">
        <div class="picture__toiture">
            <img src="/src/assets/Toiture.svg" alt="Logo Toiture">
        </div>
        <h3 class="title__toiture">Toiture</h3>
        <p>Un savoir-faire inégalé en réparation et rénovation de toitures</p>
    </div>
    <div class="icon__nettoyage">
        <div class="picture__toiture">
            <img src="/src/assets/Nettoyage.png" alt="Logo Nettoyage">
        </div>
        <h3 class="title__nettoyage">Nettoyage</h3>
        <p>Le savoir- faire pour un nettoyage impeccable après chaque chantier.</p>
    </div>
    <div class="icon__renovation">
        <div class="picture__renovation">
            <img src="/src/assets/Renovation.png" alt="Logo Renovation">
        </div>
        <h3 class="title__renovation">Rénovation</h3>
        <p>Le savoir-faire pour des rénovations de toiture durables et fiables.</p>
    </div>
</section>