<section class="logiciels">
    <div>
        <h2>Logiciels du bureau d’etude</h2>
        <p>
            SEMA 15.2 pour le dessin de votre charpente Sema MD BAT POUTR M : Logiciel de calcul de poutres bois
            Chevrons Pannes à l'aplomb, en devers - Arbalétriers - Arêtiers - Noues - Solives - Poutres porteuses -
            Poteaux - etc...
            MDBAT Poutr
            MD BAT STRUCTUR M & S : Logiciel de calcul de structures bois Poutres droites - Fermes - Portiques droits ou
            courbes
        </p>
    </div>
    <div>
        <h2>Logiciels de calcul de structures en bois</h2>
        <p>
            MD BAT Assembl M & S : Logiciel de calcul des assemblages
            Logiciel de calcul des assemblages
            <br>
            MD BAT EOLE : Logiciel de calcul des charges dues au vent
            Logiciel de calcul des charges dues au vent
        </p>
    </div>
</section>