<section class="materiels">
    <div>
        <ul>
            <li>1 Manitou MT 1840 EP nacelle + potence treuil (portée : 21m)</li>
            <li>1 Monte matériaux Comabi de 21m</li>
            <li>1 Mini-pelle Volvo EC25</li>
            <li>2 Peugeot Boxer entièrement équipés</li>
            <li>1 Mercedes sprinter entièrement équipés</li>
            <li>1 Peugeot Expert• 1 Mercedes Vito</li>
            <li>1 Renault Mascott benne</li>
            <li>1 Remorque d’échafaudage sur pied Comabi 170m²</li>
            <li>1 Remorque d’échafaudage sur pied ALTRAD 408m²</li>
            <li>1 Remorque d’échafaudage suspendu MACC</li>
            <li>1 Remorque Porte engin</li>
        </ul>
    </div>
</section>