<section class="pres__accueil">
    <div class="pres__tb">
        <h2>Présentation de ToitureBerger</h2>
        <p>Toiture BERGER, créée le 1er août 2007 par Jonathan Berger et située à Arcey (25) dans le pays de
            Montbéliard,
            vous apporte son savoir-faire et son expérience dans plusieurs domaines : charpente, couverture, zinguerie,
            et maisons à ossature bois.Nous disposons de nouveaux locaux depuis 2012 pour permettre le taillage de vos
            charpentes en atelier,
            avec un grand stock pour répondre rapidement à la demande. Tous nos processus s'intègrent dans une démarche
            qualité,
            respectant les normes de construction et environnementales pour la satisfaction du client.
            Nous proposons des charpentes ou ossatures en bois adaptées aux besoins,
            fabriquées à partir des meilleurs matériaux et dans le respect de l'écologie.
        </p>
        <div>
            <picture class="photo__pres">
                <img src="/src/assets/Accueil.png" alt="Photo presentation">
            </picture>
        </div>
    </div>
</section>