<section class="pres__accueil">
    <div class="pres__tb">
        <h2>Présentation de<b>ToitureBerger</b></h2>
        <p><b>Toiture BERGER</b>, créée le 1er août 2007 par Jonathan Berger et située à Arcey (25) dans le pays de
            <b>Montbéliard</b>,
            vous apporte son savoir-faire et son expérience dans plusieurs domaines : <b>
            charpente, couverture, zinguerie,
            et maisons à ossature bois.
            vous apporte son savoir-faire et son expérience </b>
        </p>
        <p>
            Nous disposons de nouveaux locaux depuis 2012 pour permettre le <b>taillage</b> de vos
            charpentes en atelier,
            avec un grand stock pour <b>répondre</b> rapidement à la demande.
        </p>
        <p>
            Tous nos processus s'intègrent dans une
            <b>démarche qualité</b>,
            respectant les normes de construction et environnementales pour la satisfaction du client.
            Nous proposons des <b>charpentes ou ossatures en bois</b> adaptées aux besoins,
            fabriquées à partir des meilleurs matériaux et dans le <b>respect</b> de <b>l'écologie</b>.
        </p>
        <div>
            <picture class="photo__pres">
                <img src="/src/assets/Accueil.png" alt="Photo presentation">
            </picture>
        </div>
    </div>
</section>