.header {
  z-index: 10;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header :nth-child(1) {
  align-self: flex-start;
}

.header__logo {
  background-color: var(--brand-button);
  height: 100%;
  width: 20vw;
  padding: 45px 0 20px 0;
}

.header__logo img {
  width: 80%;
  height: auto;
  margin: 0 10%;
}

.header__search {
  width: 0%;
  height: 50%;
  border: none;
  cursor: pointer;
}

.header__devis{
  height: 50%;
  width: 10%;
  border-radius: 30px;
  background-color: #F2681B;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 0px;
}

.header__search img {
  width: 100%;
  height: auto;
}

.button__contact {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: #F2681B;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px auto;
}

a {
  text-decoration: none;
  color: white;
}

.text__header {
  margin: 15px 0;
  display: flex;
}

.text__header:nth-child(1)::before {
  content: '';
  width: 40px;
  margin: auto 10px 0 0;
  height: 1.5px;
  background-color: var(--brand-button);
  margin-bottom: 10px;
}

h1 {
  font-size: 25px;
}


/* Styles pour le menu hamburger */
.header__hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}



@media (max-width: 768px) {
  .header__hamburger {
    display: block;
  }

  .header__menu {
    display: none;
  }

  .header__menu.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
  }

  .menu__item {
    margin: 10px 0;
  }
}