.header {
  z-index: 10;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header :nth-child(1){
  align-self: flex-start;
}

.header__logo{
    background-color: var(--brand-button);
    height: 100%;
    width: 20vw;
    padding: 45px 0 20px 0;
}

.header__logo img{
    width: 80%;
    height: auto;
    margin: 0 10%;
}

.header__search {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #F2681B;
  border: none; 
  color: white; 
  cursor: pointer;
  padding: 10px 20px; 
}

.header__search img{
    width: 100%;
    height: auto;
}


button{
  width: auto;
  height: 100%;
  border-radius: 30px;
  background-color: #F2681B;
  border: none; 
  color: white; 
  cursor: pointer;
  padding: 10px 20px; 
}

.text__header{
  margin: 15px 0;
  display: flex;
}

.text__header:nth-child(1)::before{
  content: '';
  width: 40px;
  margin: auto 10px 0 0;
  height: 1.5px;
  background-color: var(--brand-button);
  margin-bottom: 10px;
}
h1{
  font-size: 25px;
}

.button__contact{
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

/* @media (min-width: 960px) {
  .header {
    background-color: var(--gray-100);
    align-items: stretch;
  }
  .header__start {
    display: flex;
    align-items: center;
  }
  .header__end {
    flex-direction: row;
  }
  .headroom--top .header__end svg > * {
    stroke: var(--gray-800);
  }
} */
