</main>
<footer>
  <picture class="logo__footer">
    <img src="/src/assets/logo footer.png" alt="Logo Footer">
  </picture>
  <div class="tb__footer">
    <h4>TOITUREBERGER</h4>
    <p>9 Impasse de la chevru 25750 Arcey</p>
    <p>Tel : 06 32 84 00 09</p>
    <p>Fax : 03 81 93 67 83 </p>
  </div>
  <div class="aide__footer">
    <p>Nous contacter</p>
    <p>Faq</p>
    <p>Devis</p>
  </div>
  <div class="info__footer">
    <p>Plan du site</p>
    <p>Documents</p>
    <picture class="facebook__logo">
      <img src="/src/assets/Facebook logo.png" alt="logo Facebook">
    </picture>
  </div>
  <div class="cgu__footer">
    <p>©  2024ToitureBerger - Tous droits réservés</p>
    <p>Mentions légales</p>
    <p>Politique de confidentialité </p>
    <p>Conditions générales d'utilisation </p>
    <p>Politique de cookies</p>
  </div>
</footer>
</body>

</html>