<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ToitureBerger</title>
  <link rel="stylesheet" href="/src/styles/style.css" />
  <script type="module" src="/src/js/script.js"></script>
</head>

<body>
  <section class="{{title}} header__background">
    <header class="header headroom">
      <div class="header__logo">
        <img src="/src/assets/logo header.svg" alt="logo header">
      </div>
      <button class="header__menuBtn menuBurger" aria-controls="mainNav" aria-expanded="false"
        aria-label="Accéder au menu">
        <span class="menuBurger__bar" aria-hidden="true"></span>
      </button>
      <nav class="header__menu menu" id="mainNav" aria-hidden="true">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="index">Accueil</a></li>
          <li class="menu__item"><a class="menu__link" href="activites">Activités</a></li>
          <li class="menu__item"><a class="menu__link" href="ossature-bois">Ossature bois</a></li>
          <li class="menu__item"><a class="menu__link" href="moyens-bureau">Moyens</a></li>
          <li class="menu__item"><a class="menu__link" href="galerie">Galerie</a></li>
        </ul>
        <button class="header__search" aria-label="Rechercher">
          <svg aria-hidden="true" width="24" height="24" aria-hidden="true" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <circle cx="11" cy="10" r="7" stroke="#191919" stroke-width="2"></circle>
            <path stroke="#191919" stroke-width="2" d="M17.707 17.293l3.536 3.535"></path>
          </svg>
        </button>
        <button class="header__search" aria-label="Rechercher">
          <p>Devis</p>
        </button>
      </nav>
    </header>
    <main>