<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ToitureBerger</title>
</head>

<body>
  <header>
    <picture class="img__logo">
      <img src="/src/assets/Logo TB.png" alt="Logo TB">
    </picture>
    <nav>
      <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="index">Accueil</a></li>
        <li class="menu__item"><a class="menu__link" href="activites">Activités</a></li>
        <li class="menu__item"><a class="menu__link" href="ossature-bois">Ossature bois</a></li>
        <li class="menu__item"><a class="menu__link" href="moyens">Moyens</a></li>
        <li class="menu__item"><a class="menu__link" href="galerie">Galerie</a></li>
      </ul>
    </nav>
    <button class="header__search" aria-label="Rechercher">
      <p>Devis</p>
    </button>
  </header>
  <main>