<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ToitureBerger</title>
  <link rel="stylesheet" href="/src/styles/style.css" />
</head>

<body>
  <section class="header__background">
    <header class="header">
      <div class="header__logo">
      <img src="/src/assets/logo header.svg" alt="logo header">
    </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="index">Accueil</a></li>
          <li class="menu__item"><a class="menu__link" href="activites">Activités</a></li>
          <li class="menu__item"><a class="menu__link" href="ossature-bois">Ossature bois</a></li>
          <li class="menu__item"><a class="menu__link" href="moyens">Moyens</a></li>
          <li class="menu__item"><a class="menu__link" href="galerie">Galerie</a></li>
        </ul>
        <button class="header__search" aria-label="Rechercher">
          <p>Devis</p>
        </button>
      </nav>
    </header>
    <main>